*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;

}

body{
    background-color: #262424;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-height:100vh;

}

#heading {
    /* color: #fff;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    cursor: pointer; */


background-color: rgb(62, 52, 154);
padding: 20px;
text-align: center;
font-size: 45px;
color:white;
margin-bottom:20px;
border-radius: 10px;
cursor: pointer;
transition: all 0.3s ease-in-out;
}


#heading:hover{
    background-color: rgba(62, 52, 154,0.6);
}

#container{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(59, 30, 156);
    width: 650px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

#container input{
    color:rgb(61, 60, 60);
    width: 85%;
    height: 50px;
    /* border: none; */
    border: 1px solid #ccc;
    /* border:none; */
    outline: none;
    border-radius: 5px;
    padding: 0 20px;
    font-size: 30px;
}

#container button {
    font-weight: 400;
    width: 85%;
    height: 50px;
    border:none;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 0 20px;
    font-size: 30px;
    background-color: rgba(0,0,0,0.10);
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#container h2{
    color: white;
    font-size: 35px;
    margin-bottom: 20px;
}

#container button:hover{
    border:None;
    background-color: rgba(0,0,0,0.20);
}

#output {
    visibility: hidden;
    color: white;
    font-size: 30px;
    margin-bottom: 20px;
    border:2px solid rgb(93, 125, 239);
    padding: 10px 10px;
    border-radius: 8px;
    transition: all 0.3 ease;
}

#merge-linkedlist-info{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(28, 28, 28, 0.9);
    text-align: center;
    font-size: 30px;
    display: none;
    color:white;
    padding: 110px; 
    transition: all 0.3s ease-in-out;
    cursor: pointer;

} 

#merge-linkedlist-info-button{

    text-align: center;
    font-size:30px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: rgb(59, 59, 61);
    color: white;
    border: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius:12px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

#merge-linkedlist-info-button:hover{
    background-color: rgb(99, 55, 244);
}